################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Source link and build cache
*.sourcelink.json
*.cache

# User secrets
secrets.json

# Logs
*.log

# Others
*.db
/EstadioIQ/obj/Debug/net8.0/EstadioIQ.API.csproj.BuildWithSkipAnalyzers
